body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: RGB(10, 10, 15);
    text-align: center;
}

h1 {
    color:aqua;
}

p {
    color:RGB(0, 230, 255);
}

#noticeTxt{
    height: 50px;
    line-height: 50px;
    background-color: RGB(150, 0, 255);
    margin: 0;
    padding: 0;
}

